Import NumPy and pandas modules
Run the following code cell to import the NumPy and pandas modules.

In [1]:
import numpy as np
import pandas as pd

Creating a DataFrame
The following code cell creates a simple DataFrame containing 10 cells organized as follows:

5 rows
2 columns, one named temperature and the other named activity
The following code cell instantiates a pd.DataFrame class to generate a DataFrame. The class takes two arguments:

The first argument provides the data to populate the 10 cells. The code cell calls np.array to generate the 5x2 NumPy array.
The second argument identifies the names of the two columns.

In [8]:
my_data = np.array ([[0,3],[5,7],[20,8],[14,15],[40,15]])
column_names = ['temperature','activity']
# Creat data frame
data_frame = pd.DataFrame(data = my_data, columns = column_names)

print(data_frame)

   temperature  activity
0            0         3
1            5         7
2           20         8
3           14        15
4           40        15

Adding a new column to a DataFrame

You may add a new column to an existing pandas DataFrame just by assigning values to a new column name. 

For example, the following code creates a third column named adjusted in dataframe:

In [5]:
# Creat New column
data_frame['adjusted'] = data_frame['activity'] +2

print(data_frame)

   temparature  activity  adjusted
0            0         3         5
1            5         7         9
2           20         8        10
3           14        15        17
4           40        15        17

Specifying a subset of a DataFrame

Pandas provide multiples ways to isolate specific rows, columns, slices or cells in a DataFrame.

In [9]:
print("Rows #0, #1, and #2:")
print(data_frame.head(3), '\n')

print("Row #2:")
print(data_frame.iloc[[2]], '\n')

print("Rows #1, #2, and #3:")
print(data_frame[1:4], '\n')

print("Column 'temperature':")
print(data_frame['temperature'])

Rows #0, #1, and #2:
   temperature  activity
0            0         3
1            5         7
2           20         8

Row #2:
   temperature  activity
2           20         8

Rows #1, #2, and #3:
   temperature  activity
1            5         7
2           20         8
3           14        15

Column 'temperature':
0     0
1     5
2    20
3    14
4    40
Name: temperature, dtype: int32

Task 1: Create a DataFrame
Do the following:

Create an 3x4 (3 rows x 4 columns) pandas DataFrame in which the columns are named Eleanor, Chidi, Tahani, and Jason. Populate each of the 12 cells in the DataFrame with a random integer between 0 and 100, inclusive.

Output the following:

the entire DataFrame
the value in the cell of row #1 of the Eleanor column
Create a fifth column named Janet, which is populated with the row-by-row sums of Tahani and Jason.

In [10]:
t_data = np.random.randint(low = 0, high = 100, size = (3,4))
clo_name = ['Eleanor', 'Chidi', 'Tahani', 'Jason']
t_dataframe = pd.DataFrame(data = t_data, columns = clo_name)

print(t_dataframe)

   Eleanor  Chidi  Tahani  Jason
0       39     44      33      7
1       94      2      52      7
2       34     64      53     37